.left {
    position: absolute;
    top: 200px;
    right: 0%;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.login {
    text-align: center;
    top: -325px;
    right: 0%;
}

input[type=text],
input[type=password] {
    width: 65%;
    padding: 12px 20px;
    margin: 8px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.bt {
    background-color: #198754;
    color: white;
    padding: 8px 15px;
    margin: 8px 0;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

.bt:hover {
    opacity: 0.8;
}

.cancelbtn {
    margin-right: 150px;
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

.close {
    position: absolute;
    right: 25px;
    top: 20px;
    color: #000;
    font-size: 25px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}



.col-lg-2 {
    z-index: -1;
}

.col-lg-2 .sidenav h2 {
    padding-top: 40%;
}

.sidenav {
    height: 100%;
    width: 217px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 50px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

// .left {
//     position: absolute;
//     top: 200px;
//     text-align: center;
//     font-size: 40px;
//     font-weight: 500;
// }

.login {
    text-align: center;
    top: -325px;
    right: 0%;
}

input[type=text],
input[type=password] {
    width: 65%;
    padding: 12px 20px;
    margin: 8px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.bt {
    background-color: #04AA6D;
    color: white;
    padding: 8px 15px;
    margin: 8px 0;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

.bt:hover {
    opacity: 0.8;
}

.cancelbtn {
    margin-right: 150px;
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}

.close {
    position: absolute;
    right: 25px;
    top: 20px;
    color: #000;
    font-size: 25px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}