<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" style="font-size: 20px; color: white; margin-top: 10px;" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-size: 20px; color: white; margin-top: 10px;"
                        routerLink="employee">Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-size: 20px; color: white; margin-top: 10px;"
                        routerLink="country">Country</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="font-size: 20px; color: white; margin-top: 10px;"
                        routerLink="state">State</a>
                </li>
            </ul>
            <div class="d-flex">
                <button class="bt" onclick="document.getElementById('id01').style.display='block'"
                    style="width:90px;">Login</button>

                <app-login></app-login>

                <button type="button" class="bt" onclick="document.getElementById('id012').style.display='block'"
                    style="width:100px; margin-left: 15px;">Register</button>

                <app-register></app-register>

            </div>
        </div>
    </div>
</nav>


<div class="container-fluid">

    <div class="row">

        <div class="col-lg-2 col-md-3">
            <nav class="navbar justify-content-center container-fluid" style="height: 100%;">
                <ul class="sidenav">
                    <h2 style="color: white;">EMPLOYEE</h2>
                    <h5 style="color: white;">Management System</h5>
                    <li class="nav-item">
                        <a class="nav-link" style="font-size: 18px; color: white; margin-top: 120px;"
                            routerLink="employee">Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="font-size: 18px; color: white; margin-top: 20px;"
                            routerLink="country">Country</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="font-size: 18px; color: white; margin-top: 20px;"
                            routerLink="state">State</a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="col-lg-10 col-md-9 col-sm-12">
            <router-outlet></router-outlet>
        </div>

    </div>

</div>