<div class="row">

    <div class="container-fluid">



        <div class="row" style="text-align: center; margin-top: 100px; padding: 0px 150px;">


            <div class="col-lg-4">
                <img src="../assets/employee.png" style="height: 70px;"><br>
                <button type="button" routerLink="employee" class="btn btn-success mt-3 mb-3">Add
                    Employee</button>
                <p>Add employee details here</p>
            </div>

            <div class="col-lg-4">
                <img src="../assets/steward.png" style="height: 70px;"><br>
                <button type="button" routerLink="country" class="btn btn-success mt-3 mb-3">Add
                    Country</button>
                <p>Add customer details here</p>
            </div>

            <div class="col-lg-4">
                <img src="../assets/rating.png" style="height: 70px;"><br>
                <button type="button" routerLink="state" class="btn btn-success mt-3 mb-3">Add
                    State</button>
                <p>Add staff details here</p>
            </div>


        </div>




    </div>

</div>



<router-outlet></router-outlet>