<h2 style="margin-top: 50px; text-align: center;">State List</h2>
<button type="button" class="btn btn-success mt-3 mb-3" (click)="openModal(template3)">Add
    State</button>


<ng-template #template3>
    <form [formGroup]="stateForm" (ngSubmit)="iseditclicked2 ? update() : submit(stateForm.value)">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Add State</h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group text-center">
                <img src="../assets/steward.png" style="width: 100px;">
            </div>
            <div class="form-group">
                <label class="form-label" style="font-weight: 700;">ID:</label>
                <i class="fa fa-user icon"></i>
                <input type="text" class="form-control" placeholder="Enter ID" formControlName="id">
            </div>
            <div class="form-group">
                <label class="form-label" style="font-weight: 700;">Name:</label>
                <i class="fa fa-user icon"></i>
                <input type="text" class="form-control" placeholder="Enter Name" formControlName="name">
            </div>
            <div class="form-group">
                <label class="form-label" style="font-weight: 700;">CountryId:</label>
                <i class="fa fa-envelope icon"></i>
                <input type="email" class="form-control" placeholder="Enter CountryId" formControlName="countryId">
            </div>

            <button type="button" class="btn" style="background-color: #cbc6c6;border: none;"
                (click)="clear()">Clear</button>
            <button type="submit" class="btn btn-success ml-3">{{ iseditclicked2 ? 'Update' : 'Submit' }}</button>
        </div>
    </form>
</ng-template>


<table class="table table-hover text-center" style="margin-top: 10px; height: 400px;">
    <thead>
        <tr style="text-align: center;">
            <th>ID</th>
            <th>Name</th>
            <th>CountryId</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody style="overflow-y:auto; height:300px;">
        <tr *ngFor="let state of statelist; let i = index">
            <td style="width: 270px;">{{state.id}}</td>
            <td style="width: 270px;">{{state.name}}</td>
            <td style="width: 280px;">{{state.countryId}}</td>
            <td style="width: 260px;">
                <button type="button" class="btn" (click)="openModal(template3)" (click)="edit(state._id)"><img
                        src="../assets/edit (1).png" style="width: 30px;">
                </button>
                <button type="button" class="btn" (click)="delete(state._id)"><img src="../assets/delete (3).png"
                        style="width: 30px;"></button>
            </td>
        </tr>
    </tbody>
</table>
<hr>